body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #2e2f42;
}
li {
  text-decoration: none;
  list-style: none;
}
button {
  cursor: pointer;
}
header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}
.logo-2 {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-1 {
  color: #4d5ae5;
}
.header-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:active {
  color: #404bbf;
}
.business-section {
  background: #2e2f42;
  height: 600px;
}
.business-section {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.service {
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.service:hover {
  background: #404bbf;
}
.studio-section {
  background: #fff;
}
.team-section {
  background: #f4f4fd;
}
.portfolio-section {
  background: #fff;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 70px;
}
.sections {
  border: 1px solid #e7e9fc;
  background: #fff;
  width: 360px;
  list-style: none;
}
.title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.title:hover {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border: 1px solid #e7e9fc;
}
.subtitle {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style: none;
}
.subtitle:hover {
  color: #404bbf;
}
.footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.logo {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
